@import '../../styles/var';

header {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    align-items: center;
    position: relative;
    z-index: 1000;

    nav {
        display: flex;
        column-gap: 1rem;
        button {
            background-color: transparent;
            border: none;
            color: map-get($color, 'primary');
            cursor: pointer;
            span {
                font-size: 1.8rem;
            }
            &:hover {
                color: map-get($color, 'secondary');
            }
        }
    }
}
