@import '../../styles/var.scss';

body {
    background-color: map-get($color, 'background-primary');
}

.chat-container {
    max-width: 50rem;
    margin: auto;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;

    div.chat-content {
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        scroll-snap-type: y mandatory;

        div.chats {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            div.chat {
                display: flex;
                scroll-snap-align: end;
                max-width: 80%;
                border-radius: 0.5rem;
                align-items: center;

                div.image {
                    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

                    overflow: hidden;
                    margin-right: 1rem;

                    img {
                        border-radius: 0.3rem;
                        width: 100%;
                        border: 1px solid map-get($color, 'tertiary');
                    }
                }

                div.description {
                    color: map-get($color, 'input');
                    border-radius: 0.3rem;
                    line-height: 1.8;
                    padding: 1rem 1.5rem;
                    letter-spacing: 0.01rem;
                    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
                    border: 1px solid map-get($color, 'tertiary');
                    transition: all 0.2s ease-in;

                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &.model {
                    margin-right: auto;
                    div.description {
                        background-color: map-get(
                            $color,
                            'background-tertiary'
                        );
                    }
                }

                &.user {
                    margin-left: auto;
                    div.description {
                        background-color: map-get(
                            $color,
                            'background-secondary'
                        );
                    }
                }

                nav {
                    display: flex;
                    flex-direction: column;
                    button {
                        padding: 0.5rem;
                        background-color: transparent;
                        border: none;
                        color: map-get($color, 'input');
                        border-radius: 0.5rem;
                        cursor: pointer;
                        transition: all 0.2s ease-in;
                        span {
                            font-size: 1.1rem;
                        }

                        &:hover {
                            color: map-get($color, 'primary');
                        }
                    }

                    button.send {
                        img {
                            height: 0.9rem;
                            width: 0.9rem;
                            opacity: 0.75;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    form {
        &.error {
            border: 1px solid map-get($color, 'error');
        }

        display: block;
        background-color: map-get($color, 'background-secondary');
        border-radius: 0.5rem;
        border: 1px solid map-get($color, 'background-secondary');
        margin: 1rem 0;

        div.container {
            height: 3.5rem;
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            column-gap: 0.5rem;
            padding: 0.5rem;

            input {
                border: none;
                background-color: transparent;
                color: map-get($color, 'input');
                width: 100%;
                padding: 0 1rem;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: map-get($color, 'input');
                }
            }

            button.upload {
                background-color: transparent;
                border: none;
                color: map-get($color, 'tertiary');
                cursor: pointer;
                transition: all 0.2s ease-in;

                span {
                    font-size: 1.5rem;
                }

                &:hover {
                    color: #ffffff;
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }

            button.record {
                background-color: transparent;
                border: none;
                color: map-get($color, 'error');
                cursor: pointer;
                transition: all 0.2s ease-in;

                span {
                    font-size: 1.5rem;
                }

                &:hover {
                    color: map-get($color, 'error');
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }

            button.submit {
                background-color: map-get($color, 'primary');
                border: none;
                color: #ffffff;
                border-radius: 0.5rem;
                font-size: 0.9rem;
                min-width: 6rem;
                cursor: pointer;
                transition: all 0.2s ease-in;

                &:hover {
                    background-color: map-get($color, 'secondary');
                }
            }
        }
    }
}

div.loader {
    align-items: center;
    display: grid;
    width: 10rem;
    margin: auto;
    img {
        width: 100%;
    }
}
