@import '../styles/var';

div.auth {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: map-get($color, 'background-primary');

    div.auth-container {
        width: 28rem;
        margin: auto;
        display: grid;
        row-gap: 1rem;

        img.logo {
            display: block;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    button.submit {
        background-color: map-get($color, 'primary');
        border: none;
        color: #ffffff;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        min-width: 6rem;
        cursor: pointer;
        transition: all 0.2s ease-in;
        box-sizing: border-box;

        &:hover {
            background-color: map-get($color, 'secondary');
        }
    }
    div.login,
    div.verify {
        &.error {
            form {
                border: 1px solid map-get($color, 'error');
            }
        }
        form {
            height: 65px;
            display: grid;
            grid-template-columns: 1fr auto;
            background-color: map-get($color, 'background-secondary');
            border-radius: 0.5rem;
            border: 1px solid map-get($color, 'background-secondary');

            .button {
                display: grid;
                box-sizing: border-box;
                height: 100%;
                padding: 0.5rem;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
        }
    }

    div.login {
        div.container {
            display: grid;
            grid-template-columns: auto 1fr;
            padding: 0.5rem;

            input {
                border: none;
                background-color: transparent;
                color: map-get($color, 'input');
                width: 100%;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: map-get($color, 'input');
                }
            }
        }
    }

    div.verify {
        div.container {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0.5rem;
            div.otp {
                display: grid !important;
                grid-template-columns: repeat(6, 1fr) !important;
                column-gap: 0.5rem;
                input {
                    border-radius: 0.5rem;
                    display: grid;
                    height: 100%;
                    width: 100% !important;
                    border: none;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: map-get($color, 'input');
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        color: map-get($color, 'input');
                    }
                }
            }
        }
    }

    div.resend {
        button.resend {
            background: transparent;
            color: map-get($color, 'input');
            border: none;
            align-self: center;
            display: block;
            text-align: center;
            width: 100%;
            line-height: 200%;
            font-size: 0.9rem;

            span {
                color: map-get($color, 'primary');
            }

            &.active {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
